<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<script >
			function message(){
				return confirm("Are you sure to delete this data !")
			}
		</script>
</head>

<body style="margin-top: 30px;">
	<div class="container">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="laptop:${Laptop}">
					<td th:text="${laptop.id}"> </td>
					<td th:text="${laptop.name}"> </td>
					<td th:text="${laptop.price}"> </td>
					<td>
						<a th:href="@{/edit(ID=${laptop.id})}" class="btn btn-success btn-sm">Edit</a> / 
						<a th:href="@{/delete (laptopId=${laptop.id})}" class="btn btn-danger btn-sm" onclick="return message()">Delete</a>
					</td>
				</tr>
				<tr th:if="${Laptop.isEmpty()}">
					<td colspan="4">No records found</td>
				</tr>
				
			</tbody>
			<a href="index" class="btn btn-primary">Add New Data</a>
		</table>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>

</html>